@model Carpeta
@{
    ViewBag.Title = "Editar";
}

<h2>Editar</h2>

<form method="post" action="/carpetas/editar">

    

    <div class="form-control">
        <input type="hidden" name="IdCarpeta" value="@Model.IdCarpeta" />
        <label>Nombre:</label>
        @Html.ValidationMessageFor(o => o.Nombre)
        <input type="text" name="Nombre" class="form-control" value="@Model.Nombre">

        <label>Descripcion:</label>
        @Html.ValidationMessageFor(o => o.Descripcion)
        <input type="text" name="Descripcion" class="form-control" value="@Model.Descripcion">
        <input type="submit" value="Enviar">
    </div>
</form>