
@{
    ViewBag.Title = "Detalle";
}

<h2>Detalle Para tarea : @ViewBag.tarea.Nombre</h2>
Descripcion: @ViewBag.tarea.Descripcion <br />
Fecha creacion: @ViewBag.tarea.FechaCreacion <br />
Horas estimadas: @ViewBag.tarea.EstimadoHoras <br />
Fecha Fin: @ViewBag.tarea.FechaFin <br />
Prioridad: @ViewBag.tarea.Prioridad <br />
Completada: @ViewBag.tarea.Completada <br />


