@using CaptchaMvc.HtmlHelpers
@using OrganizadorDeTareas
@model OrganizadorDeTareas.LoginModel

@{
    ViewBag.Title = "login";
}



<h2 class="text-center">Iniciar Sesion</h2>


<div id="formulario" class=" container-fluid  mx-auto row justify-content-center">
    
    <form method="post" action="/Home/login">

        <div class="col-4 col-form-label">Email</div>

        <div class="col-12">
            @Html.ValidationMessageFor(o => o.Email)
            <input class="form-control" name="Email" type="email" maxlength="50" id="email" value="@Model.Email">
        </div>


        <div class="col-4 col-form-label">Contraseña</div>
        <div class="col-12">
            @Html.ValidationMessageFor(o => o.Contrasenia)
            <input class="form-control" name="Contrasenia" type="password" maxlength="20" id="Contraseña">
        </div>

       
            <label for="Recordar">Recordarme</label>
            <input class="form-control" name="Recordar" type="checkbox" id="Recordar" value="S">
      

        <div class="col-4 col-form-label">
            @Html.Captcha("update","captcha",4)
        </div>

        <div class="col-4 col-form-label">
            <button type="submit" class="btn btn-primary ">Login</button>
        </div>

        <span>@TempData["mensaje"]</span>
    </form>
</div>


